pkg
config.json
*.sublime-workspace
bin/vger
.DS_Store
.project
*~
*.diff
*.zip
*.app
src/github.com
.DS_Store
code.google.com
vger.exe
backup
test
*.safariextz
gdb
client
*.avi
*.mp4
*.mkv
*.wav
*.log
bin/player
unar
*.o
*.ppm
*.a
*.o

*.a

src/player/gui/cocoa/gui.o

bin/player

*.db

src/semaphore/semaphore.go

src/semaphore/semaphore_test.go

src/subtitles/kankan_test.go

src/.DS_Store

src/.DS_Store

src/.DS_Store

*.a

*.a

bin/playerguitest

*.a

src/player/gui/cocoa/libcocoa.a

src/player/gui/cocoa/libcocoa.a

src/.DS_Store

src/.DS_Store

bin/pprof_mac_fix

*.test

bin/goimports

bin/testcrawler

src/testcrawler/testcrawler
cld
src/chatserver