pkg
config.json
*.sublime-workspace
bin/vger
.DS_Store
.project
*~
*.diff
*.zip
*.app
src/github.com
.DS_Store
code.google.com
vger.exe
backup
test
*.safariextz
*.avi
*.mp4
*.mkv
*.wav
*.log
*.o
*.ppm
*.a
*.o
*.a
*.db
*.a
*.test
src/gopkg.in/check.v1/
src/honnef.co/go/importer/

util/unar

*.xccheckout

*.xcbkptlist

*.xccheckout

*.xcuserstate

player/gui/cocoa/lib.xcodeproj/project.xcworkspace/xcuserdata/Roy.xcuserdatad/UserInterfaceState.xcuserstate
*.swp
*.swo
node_modules/
bundle.js
