<!DOCTYPE html>
<html ng-app="vger">
<head>  
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, minimal-ui" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">

	<!-- <meta name="viewport" content="width=500, user-scalable=false;"> -->
	<title>V'ger</title>
	<link href="assets/angular-ui.css" rel="stylesheet" type="text/css"></link>
	<link href="assets/style.css" rel="stylesheet" type="text/css">
	<script src="assets/angular.js"></script>
	<script src="assets/angular-animate.js"></script>
	<script src="assets/angular-ui.js"></script>
	<script type="text/javascript" src="assets/main.js"></script>
	<script type="text/javascript" src="assets/date.js"></script>
	<script type="text/javascript" src="assets/jquery-2.1.0.js"></script>

 	<base href="http://192.168.0.110:9527/" />
</head>
<body ng-controller="tasks_ctrl">
	<div id="tasks" ng-show="tasks.length>0">
		<div class="box-tasks-list" style="-webkit-overflow-scrolling:touch">
			<div id="subscribes">
				<ul id="subscribes-head">
					<li class="subscribe" ng-class="{highlight:currentSubscribe.Name==downloadTasks.Name}"
						ng-click="switch_subscribe(downloadTasks);">
						<img ng-src="/subscribe/banner/{{downloadTasks.Name}}" alt="banner">
						<span class="subscribe-menu-name">{{downloadTasks.Name}}</span>
						<span class="badge" ng-show="downloadTasks.Badge<100&&downloadTasks.Badge>0">{{downloadTasks.Badge}}</span>
						<span class="badge" ng-show="downloadTasks.Badge>99">99+</span>
						<span class="clear"></span>
					</li>

					<li class="menu-head">TV Shows&nbsp;&nbsp;&nbsp;<a class="menu-edit" ng-click="toggle_menu_edit();">[edit]</a></li>
				</ul>
				<div id="tvshow-list" class="noscrollbar">
				<ul>
					<li ng-repeat="subscribe in subscribes" class="subscribe" ng-class="{highlight:subscribe.Name==task_filter.Subscribe, 'edit-mode': edit_menu}" ng-click="switch_subscribe(subscribe);">
						<!-- <span class="subscribe-icon" ng-show="subscribe.Name!='Single Tasks'"> -->
						<span class="delete" ng-show="edit_menu && (!subscribe.confirm_delete)" ng-click="tounsubscribe($event,subscribe);"></span>
						<img ng-src="/subscribe/banner/{{subscribe.Name}}" alt="banner">
						<!-- </span> -->
						<span class="subscribe-menu-name">{{subscribe.Name}}</span>

						<span class="delete-confirm" ng-show="subscribe.confirm_delete" ng-click="unsubscribe($event,subscribe);">Delete</span>
						<span class="resort" ng-show="edit_menu" ng-click="unsubscribe($event,subscribe);"></span>

						<span class="badge" ng-show="subscribe.Badge<100&&subscribe.Badge>0">{{subscribe.Badge}}</span>
						<span class="badge" ng-show="subscribe.Badge>99">99+</span>
						<span class="clear"></span>
					</li>
				</ul>
				</div>
			</div>
			<div id="subscribe-content" ng-class="{'show-info':(currentSubscribe.Name!=downloadTasks.Name)}">
				<div class="subscribe-info">
					<img ng-src="/subscribe/banner/{{currentSubscribe.Name}}" style="float:left">
					<span style="float:left">
						<span class="name">{{currentSubscribe.Name}}</span>
						&nbsp;<input type="button" value="Update" ng-click="new_subscribe(currentSubscribe.URL);"/>
						<br>
						<a target="_black" href="{{currentSubscribe.URL}}" class="url">{{currentSubscribe.URL}}</a>
					</span>
					<div class="clear"></div>
				</div>
				<div id="subscribe-list">
				<ul id="tasks-list">
			       <li ng-repeat="task in tasks | filter:task_filter:1 | orderBy:task_order | limitTo:tasks_max_size" class="task" data-order="{{$index}}" ng-class="{'highlight-task':task.Status!='New'}">
			       		<div class="task-infoes">
			       			<div class="left-actions">
				       			<span class="resume" ng-click="send_resume(task)" ng-show="task.Status=='Stopped' || task.Status=='Playing'"></span>
				       			<span class="stop" ng-click="send_stop(task)" ng-show="task.Status=='Downloading'"></span>
				       			<span class="stop" ng-click="send_stop(task)" ng-show="task.Status=='Queued'"></span>
				       			<span class="unread" ng-show="(task.Status=='Finished')&&(task.LastPlaying<0.05)" type="button"></span>
				       			<span class="halfread" ng-show="(task.Status=='Finished')&&(task.LastPlaying>=0.05)&&(task.LastPlaying<currentSubscribe.Duration)" type="button"></span>
				       		</div>
				       		<div class="middle-actions">
				       			<div ng-class="{middle:task.Status=='New'}">
				       				<div class="name">
				       					<span ng-show="task.Status=='Queued'">[Waiting] </span><a title="{{task.Name}}" ng-click="$event.preventDefault();send_open(task);" href="{{task.URL}}" ng-class="{disabled:task.Status=='New'}">{{task.Name}}</a>
				       				</div>
				       			</div>
								
								<div class="progress-box">
							       	<div class="progress" ng-hide="(task.Status=='Finished')||(task.Status=='New')">
							       		<div ng-class="{downloading:task.Status=='Downloading',stopped:task.Status!='Downloading'}" style="width:{{(task.DownloadedSize/task.Size*450).toFixed(0)}}px;"></div>
									</div>
								</div>

					       		<div class="row-3rd" ng-hide="task.Status=='New'">
					       			<!-- <input type="button" ng-click="search_subtitles(task.Name)" value="S" /> -->
					       			<input type="button" ng-click="send_play(task)" value="P" ng-show="task.Status!='Finished'"/>
					       			

					       			<!-- <span ng-hide="task.Status=='Finished'">
						       			<input id="autoshutdown-{{task.NameHash}}" type="checkbox" ng-model="task.Autoshutdown" ng-click="set_autoshutdown(task)" />
						       			<label for="autoshutdown-{{task.NameHash}}">Shutdown after finish</label>
					       			</span> -->

					       			<span ng-show="task.Status=='Downloading' || task.Status=='Playing'" class="info">{{task.Speed.toFixed(0)}}KB/s</span>
					       			<span ng-show="task.Status=='Downloading'" class="info">Est. {{parse_duration(task.Est)}}</span>
					       			<span ng-show="task.LastPlaying>=100" class="info">Last Played: {{parse_duration(task.LastPlaying)}}</span>


									<!-- 
						       		<span ng-show="task.Status!='Downloading'" class="elapsed info">Elapsed. {{parse_duration(task.ElapsedTime)}}</span>
						       		<span ng-show="task.Status!='Downloading'" class="info">{{parse_time(task.StartTime)}}</span> -->

					       		</div>
					       	</div>

			       			<button ng-show="task.Status!='New'" class="close" ng-click="move_to_trash(task);" title="Trash"></button>

			       			<div class="cloud-download" ng-show="task.Status=='New'" ng-click="download_task(task);" title="Download">
			       				<div class="arrow-down"></div>
			       			</div>
			       		<div>
			       </li>
				</ul>
				</div>
			</div>
		</div>

		<form  ng-submit="go()">
			<div id="start-download" ui-event="{drop:'upload_torrent($event)'}" ondragover="return;">
				<textarea ui-keypress="{enter: '$event.preventDefault();go();'}" ng-model="new_url" type="text" id="new-url" placeHolder="Input anything you want"></textarea>
				<!-- <input id="new-task" type="submit" ng-hide="waiting" value="Go"/> -->
				<span ng-show="waiting" id="waiting"></span>
			</div>
		</form>
		
		<div id="box-overlay" style="display:none;" ng-show="bt_files.length > 0||nosubtitles||((subtitles.length > 0) && (ws_search_subtitles != null))||alerts.length>0||thunder_needverifycode">
			<div id="bt-files-overlay" class="overlay" ng-show="bt_files.length > 0">
				<div id="bt-files" class="popup">
					<button class="close" ng-click="bt_files=[]"></button>
					<h3>Select a file ({{bt_files.length}} files total)</h3>
					<ul>
						<li ng-repeat="file in bt_files | orderBy:-Size">
							<span class="status">[{{get_bt_file_status(file.Percent)}}]</span>
							<span class="name">{{file.Name}}</span>
							<span class="size">{{file.Size}}</span>
							<input type="button" value="Download" ng-disabled="file.Percent<100" ng-hide="file.loading" ng-click="download_bt_files(file)"/>
							<span class="loading" ng-show="file.loading"></span>
						</li>
					</ul>
				</div>
			</div>


			<div id="nosubtitles-overlay" class="overlay" ng-show="nosubtitles">
				<div class="popup">
					<button class="close" ng-click="nosubtitles=false"></button>
					<h3>No subtitles for '{{subtitles_movie_name}}'</h3>
					<div class="bottom"><input type="button" value="Search in Addic7ed" ng-click="addic7ed_subtitles()"/></div>
				</div>
			</div>



			<div id="need-verfiycode-overlay" class="overlay" ng-show="thunder_needverifycode">
				<div class="popup">
					<button class="close" ng-click="thunder_needverifycode=false"></button>
					<h3>Please input verify code</h3>
					<div class="content">
						<img id="verifycode" src="/thunder/verifycode" />
						<input class="input-verifycode" type="text" ng-model="thunder_commit.verifycode" />
					</div>
					<div class="bottom"><input type="button" value="OK" ng-click="new_thunder_task()"/></div>
				</div>
			</div>


			<div id="subtitles-overlay" class="overlay" ng-show="(ws_search_subtitles!=null) && (subtitles.length>0)">
				<div id="subtitles" class="popup">
					<button class="close" ng-click="stop_search_subtitles();"></button>
					<h3>Subtitles for '{{subtitles_movie_name}}'</h3>
					<ul>
						<li ng-repeat="sub in subtitles | orderBy:-Size">
							<span class="{{sub.Source}} icon"></span>
							<span class="name" title="{{sub.FullDescription}}">{{sub.Description}}</span>
							<input type="button" value="Download" ng-hide="sub.loading" ng-click="download_subtitles(sub)"/>
							<span class="loading" ng-show="sub.loading"></span>
						</li>
					</ul>
				</div>
			</div>


			<div class="overlay" ng-repeat="a in alerts" ng-show="alerts.length>0">
				<div class="popup alert">
					<button class="close" ng-click="pop_alert()"></button>
					<h3>{{a.title}}</h3>
					<div class="content">{{a.content}}</div>
				</div>
			</div>
		</div>
	</div>
	<div ng-show="subscribes.length==0" class="task-loading">
		Loading...
	</div>
</body>
</html>
